.container{
  margin:0 auto;
  width: 600px;
}

li{list-style:none;}

.QQ{
  width: 500px;
  height: 700px;
  border: 2px solid #ccc;
  text-align:center;
  float:left;
  margin:  7px;
}
.quantity{
  text-align:center;
  width: 200px;
  height: 40px;
}